@model IEnumerable<WebBanSach.Models.Data.NhaXuatBan>

@{
    ViewBag.Title = "ShowListPublish";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Publisher Management</h2>

<p>
    @Html.ActionLink("Add Publisher", "AddPublish")
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                Publisher ID
            </th>
            <th>
                Publisher Name
            </th>
            <th>
                Address
            </th>
            <th>
                Number Phone
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr id="row_@item.MaNXB">
                <td>
                    @Html.DisplayFor(modelItem => item.MaNXB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenNXB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaChi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DienThoai)
                </td>
                <td>
                    @Html.ActionLink("View", "UpdatePublish", new { id = item.MaNXB }) |
                    @Ajax.ActionLink("Delete", "DeletePublish", new { id = item.MaNXB }, new AjaxOptions
               {
                   Confirm = "Are you sure to delete this publisher?",
                   OnComplete = "$('#row_" + @item.MaNXB + "').remove()",
                   HttpMethod = "Delete"
               })
                </td>
            </tr>
        }
    </tbody>

</table>
